<div class="slide-panel-heading">
  <h1><%= @building.acronym %></h1>
</div>

<div class="Slide-panel-body">
  <div class="row">
    <div class="col-md-12 form-group">
      <div class="label">Edifício</div>
      <div class="data"><%= @building.title %></div>
    </div>
    <div class="col-md-12 form-group">
      <div class="label">Telefone</div>
      <div class="label"><%= @building.phone %></div>
    </div>
</div>