<h2> Edifício</h2>

<div class="Slide-panel-body">
  <div class="row">
    <div class="col-md-12 form-group">
      <div class="list-group">
        <a href="#" class="list-group-item active"><%= @building.acronym %></a>
        <a href="#" class="list-group-item">Edifício: <%= @building.title %></a>
        <a href="#" class="list-group-item">Telefone: <%= @building.phone %> </a>
      </div>
</div>