<div class="row" style="margin-top: 30px;">
    <div class="col-xs-12">
      <%= notice.html_safe unless notice.blank? %>
        <div class="card card-mini">
            <div class="card-header">
                <div class="card-title">Administradores</div>
                <ul class="card-action">
                    <li>
                        <!-- colocar link de new admin -->
                        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_admin_admin_path %>
                    </li>
                </ul>
            </div>
            <div class="card-body no-padding table-responsive">
                <table class="table card-table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @admins.each do |admin| %>
                        <tr>
                            <td><%= admin.email %></td>
                            <td><%= admin.name %></td>
                            <td>
                                <!-- colocar link de edita e deletar admin -->
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
