<div class="card">
    <div class="row">
        <div class="col-md-5">
            <div class="card-header">
            </div>
            <div class="card-body">
                <%= form_for(@admins.new) do |f| %>
                <div class="row">
                    <div class="form-group col-md-6">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control' %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-7">
            <div id="map" style="float: left;"></div>
        </div>
    </div>
</div>