<!DOCTYPE html>
<html>
    <head>
        <title>Admin - Onde É</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag 'sign', media: 'all' %>

    </head>
    <body>
        <div class="app app-default">

            <div class="app-container app-login">
                <div class="flex-center">
                    <div class="app-header"></div>
                    <div class="app-body">
                        <div class="loader-container text-center">
                            <div class="icon">
                                <div class="sk-folding-cube">
                                    <div class="sk-cube1 sk-cube"></div>
                                    <div class="sk-cube2 sk-cube"></div>
                                    <div class="sk-cube4 sk-cube"></div>
                                    <div class="sk-cube3 sk-cube"></div>
                                </div>
                            </div>
                            <div class="title">Logging in...</div>
                        </div>
                        <div class="app-block">
                            <div class="app-form">
                                <div class="form-header">
                                    <div class="app-brand">
                                        <span class="highlight">Onde É</span>
                                        UnB</div>
                                </div>

                                <%= yield %>

                            </div>
                        </div>
                    </div>
                    <div class="app-footer"></div>
                </div>
            </div>

        </div>
        <%= javascript_include_tag 'https://use.fontawesome.com/84624258b7.js' %>
    </body>
</html>
