body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Roboto", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
body{
  overflow:auto;
}

.team-photo{
	
	height: 80px;
}
footer{
  margin-bottom: 30px;
}
