//= require admin/vendor.css
//= require admin/main.css

// TODO: change the border color to one more softer
.navbar {
  padding: 0;
  border-right: none;
}
// TODO: set the sidebar color to dark

#map {
  width: 100%;
  height: 450px;
}
