//= require leaflet/easy-button
//= require leaflet/awesome-markers
//= require leaflet/context-menu
//= require leaflet/routing-machine
//= require leaflet/lrm-mapzen
//= require leaflet/sidebar
//= require leaflet/geojsonautocomplete
//= require font-awesome

html body {
  height: 100%;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57142857;
}

#map,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-control-container {
  font-family: "Roboto", sans-serif !important;
}

.leaflet-top{
  top: 55px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: lightgray;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
}


a:not([href]):not([tabindex]){
  color: white;
  font-weight: bold;
}

a:not([href]):not([tabindex]):hover{
  color: white;
  font-weight: bold;
}

.bg-faded{
background-color: black;
}

.btn-reverse-route {
  margin-top: -8px;

  i {
    $rotate: 90deg;
    -ms-transform: rotate($rotate);
    -webkit-transform: rotate($rotate);
    transform: rotate($rotate);
  }
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
  left: auto;
}

.btn {
  font-size: 14px;
}

.table thead th {
  font-size: 11px;
  text-transform: uppercase;
  border-top: none;
  border-bottom-color: #F2F2F2;
  font-weight: 500;
}

.table tbody td {
  font-size: 12px;
  border-top: 1px dashed #F2F2F2;
  vertical-align: middle;
  transition: background-color 0.5s linear;
}

#sidebar {
  margin: 0;
  overflow: hidden;
}

.sidebar-body {
  padding: 15px;
  overflow: auto;
  height: 100%;
  margin: 0 -24px;
}

.sidebar-body::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar-body::-webkit-scrollbar-track {}

.sidebar-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.sidebar-header {
  margin: -10px -24px 0;
  height: 50px;
  padding: 17px 20px;
  font-size: 15px;
  color: #fff;
  background-color: #5bc0de;
  text-transform: uppercase;
  font-weight: 500;
}

#itinerary {
  display: none;
  margin-top: -15px;
  padding-bottom: 20px;
}

#itinerary .row {
  padding-top: 20px;
  color: #FFF;
  background-color: #8fdc68;
  margin-bottom: 20px;

  b {
    font-weight: 500;
    display: block;
    text-transform: uppercase;
  }

  i {
    font-size: 20px;
  }
}

.leaflet-routing-container {
  display: none !important;
}

.input-location {
  position: relative;

  .input-current-location-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 0 200px 200px 0;
    background: 0 0;
    transition: all 0.5s ease;
  }
}

.input-location:hover .input-current-location-btn {
  display: inline;
}

@media (min-width: 992px){
.navbar-text {

    display: inline-block;
    padding-top: .425rem;
    padding-bottom: .425rem;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-size: 16px;
}
}

@media (min-width: 320px){
.navbar-text {

    display: inline-block;
    padding-top: .425rem;
    padding-bottom: .425rem;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 16px;
}
}



@media (min-width: 992px){
.navbar-toggleable-md .navbar-collapse {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    width: 3%;
}
}

.navbar{

  position: absolute;
  z-index: 2001;
  width: 100%;
}

.navbar-light .navbar-toggler {
    border-color: white;
    color: white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-11 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
