//= require leaflet-easy-button/easy-button
//= require leaflet/context-menu
//= require leaflet/routing-machine
//= require leaflet/lrm-mapzen
//= require leaflet/sidebar

html body {
  height: 110%;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57142857;
}

#map,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
  left: auto;
}

.btn {
  font-size: 14px;
}

//
// .search, .routes {
//     position: absolute;
//     top: 100px;
//     z-index: 9999;
//     width: 100%;
//     padding-left: 1rem;
//     padding-right: 1rem;
// }
//
// .search input {
//     height: 45px;
//     box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
//     border: none;
//     visibility: hidden;
//     color: #000;
//     width: 350px;
//     position: absolute;
//     right: 1rem;
// }
// label {
//     position: absolute;
//     top: 0;
//     right: 8px;
//     position: absolute;
//     right: 1rem;
//     z-index: 9999;
//     text-transform: uppercase;
//     cursor: pointer;
//     box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
//     border-radius: 2px;
//     width: 45px;
//     height: 45px;
//     background-color: #FFF;
//     padding: 15px;
//     font-size: 20px;
//     color: #666;
//     text-align: center;
// }
//
// label.active{
//   background-color: #47C9AF;
//   color: #FFF;
// }
// .search-input {
//     visibility: hidden;
//     position: absolute;
//     top: 20px;
//     background-color: rgb(255, 255, 255);
//     width: 98% !important;
//     margin-left: 10px;
//     margin-right: 10px;
//     box-shadow: 0px 0px 0px 3px rgba(242, 242, 242, 0.61);
//     font-size: 14px;
//     font-weight: 400;
// }

.table.classes thead th {
  font-size: 12px;
  text-transform: uppercase;
  border-top: none;
  border-bottom-color: #F2F2F2;
  font-weight: 500;
}

.table.classes tbody td {
  font-size: 12px;
  border-top: 1px dashed #F2F2F2;
  vertical-align: middle;
}
//
// .form-group .label {
//     margin-bottom: 5px;
//     font-weight: 500;
// }
//
// .form-group .data {
//     color: #76838f;
// }

.btn-group.level {
  position: absolute;
  left: calc(calc(100% - 226px) / 2);
  z-index: 9999;
  bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
}

.btn-group button {
  border: none;
}

.btn-group button.active {
  border: none;
  background-color: #47c9af;
  color: #fff;
}

.info-label {
  visibility: hidden;
  z-index: 9999;
  position: absolute;
  bottom: 4rem;
  background-color: #FFF;
  padding: 10px 5px;
  font-weight: 500;
  text-transform: uppercase;
  left: calc(calc(100% - 250px) / 2);
  width: 250px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  border-radius: 3px;
  color: #666;
}


#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

.container {
    width: 800px;
    margin: 50px auto;
}
.typeahead-wrapper {
    display: block;
    margin: 50px 0;
}
.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid #000;
}
.tt-suggestion.tt-cursor {
    background-color: #ccc;
}