<!DOCTYPE html>
<html>
<title>Onde É UnB</title>
<meta charset="UTF-8">
<%= render :partial => "shared/head"%>
<%= stylesheet_link_tag 'about' %>
<body>

<%= render :partial => "shared/navbar"%>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Onde É UnB</h1>
  <p class="w3-xlarge">Projeto de alunos da Universidade de Brasília (UnB).</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Projeto</h1>
      <h5 class="w3-padding-32">O projeto da plataforma web de mapeamento foi desenvolvido com o intuito de auxiliar na locomoção de alunos e visitantes nas instalações do campus Darcy Ribeiro.</h5>

      <p class="w3-text-grey">O "Onde É? UnB" tem a finalidade de facilitar a localização, via mapa interativo, de algumas das instalações e estabelecimentos do Campus Darcy Ribeiro da UnB.
        A plataforma web é um serviço de localização dentro do campus que pretende auxiliar os diversos frequentadores da UnB a encontrar edifícios, departamentos e salas.</p>
    </div>

    <div class="w3-third w3-center">
      <%= image_tag("unblogochanges(1).jpg", size: "170x250")%>
      <i class="w3-padding-64 w3-text-blue"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">

      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Time</h1>
      <h5 class="w3-padding-32">O time é composto por alunos do curso de Engenharia de Software da Universidade de Brasília.</h5>

      <p class="w3-text-grey">Alexandre Torres Kryonidis, Daniel Moura da Silva, Eduardo Brasil Martins, Eduardo Quintino Gomes, Jordan de Oliveira Miranda, Lucas Soares Souza,
        Mateus Vieira da Silva Roriz, Matheus Mello, Rafael dos Santos Rabetti, Sannya Santana de Arvelos, Stéfane Bogéa de Souza, Taynara de Jesus Carvalho, Kairon Velozo Brito.</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-12">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p> Copyright &copy; Onde É UnB 2017</p>
</footer>

</body>
</html>
