<div class="form-group col-md-6">
	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control', placeholder: 'Mínimo de 6 caracteres' %>
</div>
<div class="form-group col-md-6">
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
