<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
    <a class="thumbnail">
      <%= image_tag("unblogochanges.png", size: "80x38")%>
    </a>
    <a class="navbar-brand" <%= link_to "Onde É UnB", root_path %></a>

    <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="app/views/about/about.html.erb">Sobre</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
