<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Onde É UnB</title>
    <%= render :partial => "shared/head"%>
  </head>
  <body>
    <%= render :partial => "shared/navbar"%>

    <%= render :partial => "shared/footer"%>
  </body>
</html>
