//= require leaflet/easy-button
//= require leaflet/awesome-markers
//= require leaflet/context-menu
//= require leaflet/routing-machine
//= require leaflet/lrm-mapzen
//= require leaflet/sidebar
//= require leaflet/geojsonautocomplete
//= require font-awesome

html body {
  height: 100%;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57142857;
}

#map,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-right {
  right: 0;
}

.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
}

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png);
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 44px;
    height: 44px;
}

.leaflet-container a {
    color: #0078A8;
}

.leaflet-bar a, .leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}

.leaflet-control {
    position: relative;
    z-index: 800;
    pointer-events: visiblePainted;
    pointer-events: auto;
}

.leaflet-control-container {
  font-family: "Roboto", sans-serif !important;
}

.btn-reverse-route {
  margin-top: -8px;

  i {
    $rotate: 90deg;
    -ms-transform: rotate($rotate);
    -webkit-transform: rotate($rotate);
    transform: rotate($rotate);
  }
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
  left: auto;
}

.btn {
  font-size: 14px;
}

.table thead th {
  font-size: 11px;
  text-transform: uppercase;
  border-top: none;
  border-bottom-color: #F2F2F2;
  font-weight: 500;
}

.table tbody td {
  font-size: 12px;
  border-top: 1px dashed #F2F2F2;
  vertical-align: middle;
  transition: background-color 0.5s linear;
}

#sidebar {
  margin: 0;
  overflow: hidden;
}

.sidebar-body {
  padding: 15px;
  overflow: auto;
  height: 100%;
  margin: 0 -24px;
}

.sidebar-body::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar-body::-webkit-scrollbar-track {}

.sidebar-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.sidebar-header {
  margin: -10px -24px 0;
  height: 50px;
  padding: 17px 20px;
  font-size: 15px;
  color: #fff;
  background-color: #5bc0de;
  text-transform: uppercase;
  font-weight: 500;
}

#itinerary {
  display: none;
  margin-top: -15px;
  padding-bottom: 20px;
}

#itinerary .row {
  padding-top: 20px;
  color: #FFF;
  background-color: #8fdc68;
  margin-bottom: 20px;

  b {
    font-weight: 500;
    display: block;
    text-transform: uppercase;
  }

  i {
    font-size: 20px;
  }
}

.leaflet-routing-container {
  display: none !important;
}

.input-location {
  position: relative;

  .input-current-location-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 0 200px 200px 0;
    background: 0 0;
    transition: all 0.5s ease;
  }
}

.input-location:hover .input-current-location-btn {
  display: inline;
}
