//= require leaflet/easy-button
//= require leaflet/awesome-markers
//= require leaflet/context-menu
//= require leaflet/routing-machine
//= require leaflet/lrm-mapzen
//= require leaflet/sidebar
//= require leaflet/geojsonautocomplete
//= require font-awesome
//= require introjs
//= require jquery/typeahead

html body {
  height: 100%;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.57142857;
}

#map,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-control-container {
  font-family: "Roboto", sans-serif !important;
}

.leaflet-top {
  top: 55px;
}

.bg-faded {
  background-color: black;
}

.btn-reverse-route {
  margin-top: -8px;

  i {
    $rotate: 90deg;
    -ms-transform: rotate($rotate);
    -webkit-transform: rotate($rotate);
    transform: rotate($rotate);
  }
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
  left: auto;
}

.btn {
  font-size: 14px;
}

.table thead th {
  font-size: 11px;
  text-transform: uppercase;
  border-top: none;
  border-bottom-color: #F2F2F2;
  font-weight: 500;
}

.table tbody td {
  font-size: 12px;
  border-top: 1px dashed #F2F2F2;
  vertical-align: middle;
  transition: background-color 0.5s linear;
}

#sidebar {
  margin-top: 10%;
  overflow: hidden;
}

.sidebar-body {
  padding: 15px;
  overflow: auto;
  height: 100%;
  margin: 0 -24px;
}

.sidebar-body::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar-body::-webkit-scrollbar-track {}

.sidebar-body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.sidebar-header {
  margin: -10px -24px 0;
  height: 50px;
  padding: 17px 20px;
  font-size: 15px;
  color: #fff;
  background-color: #5bc0de;
  text-transform: uppercase;
  font-weight: 500;
}

#itinerary {
  display: none;
  margin-top: -15px;
  padding-bottom: 20px;
}

#itinerary .row {
  padding-top: 20px;
  color: #FFF;
  background-color: #8fdc68;
  margin-bottom: 20px;

  b {
    font-weight: 500;
    display: block;
    text-transform: uppercase;
  }

  i {
    font-size: 20px;
  }
}

.leaflet-routing-container {
  display: none !important;
}
// Responsive screens ipad pro
@media (max-width: 1024px) {
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 0;
  }

  .leaflet-control-zoom {
    margin-top: 80px !important;
  }

  .leaflet-right {
    margin-top: 70px;
  }

  .leaflet-sidebar {
    top: 50%;
    height: 50%;
    width: 49%;
  }

  .sidebar-body {
    height: calc(100% - 30px);
  }

  #searchContainer {
    width: 90%;
    left: calc((100% - 90%) / 2);
  }

  #searchBox {
    width: 73%;
  }
}
// Responsive screens ipad
@media (max-width: 768px) {
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 0;
  }

  .leaflet-control-zoom {
    margin-top: 80px !important;
  }

  .leaflet-sidebar {
    top: 50%;
    height: 50%;
    width: 60%;
  }

  .sidebar-body {
    height: calc(100% - 30px);
  }

  #searchContainer {
    width: 90%;
    left: calc((100% - 90%) / 2);
  }

  #searchBox {
    width: 73%;
  }
}
// Responsive screens
@media (max-width: 767px) {
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 0;
  }

  .leaflet-control-zoom {
    margin-top: 80px !important;
  }

  .leaflet-sidebar {
    top: 50%;
    height: 50%;
    width: 100%;
  }

  .sidebar-body {
    height: calc(100% - 30px);
  }

  #searchContainer {
    width: 90%;
    left: calc((100% - 90%) / 2);
  }

  #searchBox {
    width: 73%;
  }
}
// Mobile resolution
@media (max-width: 320px) {
  //Click in sidebar button
  .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 0;
  }

  .leaflet-control-zoom {
    margin-top: 80px !important;
  }

  .leaflet-sidebar {
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0,0,0);
  }

  #searchContainer {
    width: 90%;
    left: calc((100% - 90%) / 2);
  }

  #searchBox {
    width: 70%;
  }
}

.input-location {
  position: relative;

  .input-current-location-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 0 200px 200px 0;
    background: 0 0;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

.badge {
  font-size: 90%;
  font-weight: 500;
  border-radius: 0.125rem;
}

.badge-classroom {
  background-color: #2196F3;
}

.badge-laboratory {
  background-color: #9C27B0;
}

.bagde-professor_room {
  background-color: #F44336;
}

.bagde-study_room {
  background-color: #00BCD4;
}

.bagde-amphitheater {
  background-color: #8BC34A;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 10001;
  background: radial-gradient(circle at 1.98% 85.01%,#134E5E,transparent 100%),radial-gradient(circle at 98.02% 18.98%,#71B280,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
}

.btn-login {
  color: #777;
  background-color: #FFF;
  &:hover{
    opacity: 0.8;
  }
}

.tutorialStyle {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.tutorialStyle h2 {
  font-weight: bold;
  text-align: center;
  background-image: radial-gradient(circle at 1.98% 85.01%,#134E5E,transparent 100%),radial-gradient(circle at 98.02% 18.98%,#71B280,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

span.twitter-typeahead .tt-menu{
  width: 100%;
}
