<div id="sidebar" class="sidebar collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li>
        <a href="#routes" role="tab">
          <i class="fa fa-code-fork"></i>
        </a>
      </li>
      <li class="disabled">
        <a href="#messages" role="tab">
          <i class="fa fa-gear"></i>
        </a>
      </li>
    </ul>

    <ul role="tablist">
      <li>
        <a href="#settings" role="tab">
          <i class="fa fa-gear"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane" id="routes">
      <h1 class="sidebar-header">Rotas<span class="sidebar-close">
          <i class="fa fa-close"></i>
        </span>
      </h1>
      <%= render partial: 'routes' %>
    </div>

    <div class="sidebar-pane" id="settings">
      <h1 class="sidebar-header">Settings<span class="sidebar-close">
          <i class="fa fa-close"></i>
        </span>
      </h1>
    </div>
  </div>
</div>
