<div class="slide-panel-heading">

    <h1>Pesquisar Rotas</h1>
</div>

<div class="slide-panel-routes">
    <div class="row">

        <div class="form-group col-xs-12">
            <input class="form-control" placeholder="Ponto de Partida">
        </div>
        <div class="form-group col-xs-12">
            <input class="form-control" placeholder="Ponto de Chegada">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary">Pedestre</button>
            <button type="button" class="btn btn-secondary">Carro</button>
            <button type="button" class="btn btn-secondary">Bicicleta</button>
        </div>
    </div>
</div>

<div class="slide-panel-body"></div>
